language: go
go:
  - 1.13.x
os:
  - linux
env:
  - PACK=go
  - PACK=node
  - PACK=php
  - PACK=python
  - PACK=ruby
script:
  - go test -v -run /$PACK ./pack/...
services:
  - docker
jobs:
  include:
    - stage: deploy
      if: tag IS present
      install:
        - curl -fsSL https://install.goreleaser.com/github.com/goreleaser/goreleaser.sh | BINDIR=$GOPATH/bin sh
      script: skip
      deploy:
        provider: script
        script: goreleaser
        on:
          tags: true
